<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>VTT-STG</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script src="/js/script.js"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class='dashboard'>

    <div class="dashboard-nav">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        		<a href="#" class="brand-logo"><i class="fas fa-anchor"></i> <span>BRAND</span></a>
        </header>
        <nav class="dashboard-nav-list">
        	<a href="/dashboard" id="dashboard" class="dashboard-nav-item"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        	<a href="/notice-today" id="notice-today" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> TBMT hôm nay </a>
        	<a href="#" id="search" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Tìm kiếm </a>
            <div class='dashboard-nav-dropdown'>
            	<a href="#!" id="notice-manage" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-photo-video"></i> Quản lý TBMT </a>
                <div class='dashboard-nav-dropdown-menu'>
                		<a href="#" class="dashboard-nav-dropdown-item">Chưa đóng thầu</a>
                		<a href="#" class="dashboard-nav-dropdown-item">Đã đóng thầu</a>
                		<a href="#" class="dashboard-nav-dropdown-item">Đã có KQLCNT</a>
                		<a href="#" class="dashboard-nav-dropdown-item">Video</a>
                </div>
            </div>
			
            <div class='dashboard-nav-dropdown'>
            	<a href="#!" id="report"  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-money-check-alt"></i> Báo cáo </a>
                <div class='dashboard-nav-dropdown-menu'>
                	<a href="#" class="dashboard-nav-dropdown-item">All</a>
                	<a href="#" class="dashboard-nav-dropdown-item">Recent</a>
                    <a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
                </div>
            </div>
            <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a>
            <a href="#" id="profile" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
          <div class="nav-item-divider"></div>
          <a href="#" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
        </nav>
    </div>
    
    
    <div class='dashboard-app'>
        <header class='dashboard-toolbar'>
			<div class="row">
				<div class="col-lg-3"><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a> </div>
				<div class="col-lg-9">
                        <h5>Danh sách gói thầu đăng tải ngày hôm nay</h5>
                </div>
			</div>
        </header>
        <div class='dashboard-content'>                    
            <div class="card border-left-primary shadow m-3 p-1">
            	<div class="card-body">
					<div class="row no-gutters align-items-center">
            		<div class="d-flex justify-content-between align-items-center">
            			<p class="text-xs font-weight-bold text-danger text-uppercase mb-1"> Mã TBMT: IB2300117648-01 </p> 
            			<span class="text-danger">Chưa đóng thầu</span>
            		</div>
            		<div class="row">
            			<div class="col-md-8">
            				<a href="https://muasamcong.mpi.gov.vn/web/guest/contractor-selection?p_p_id=egpportalcontractorselectionv2_WAR_egpportalcontractorselectionv2&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;_egpportalcontractorselectionv2_WAR_egpportalcontractorselectionv2_render=detail&amp;type=es-notify-contractor&amp;stepCode=notify-contractor-step-1-tbmt&amp;id=f4d29c1b-45ad-43f4-b5f5-9bdc5007ba63&amp;notifyId=f4d29c1b-45ad-43f4-b5f5-9bdc5007ba63&amp;inputResultId=undefined&amp;bidOpenId=undefined&amp;techReqId=undefined&amp;bidPreNotifyResultId=undefined&amp;bidPreOpenId=undefined&amp;processApply=LDT&amp;bidMode=1_MTHS&amp;notifyNo=IB2300117648&amp;planNo=PL2300087853&amp;pno=undefined&amp;step=tbmt">
            		  			<span class="text-primary h6"> Công tác thu gom, vận chuyển rác 06 phường: Trảng Bàng - Gia Lộc - An Tịnh - Lộc Hưng - An Hòa - Gia Bình - Công tác quét, gom rác trên hè, đường phố bằng thủ công </S>
            				
            				</a> 
            				<div class="row">
            					<div class="col-md-8">
            						<p> <strong> Bên mời thầu:</strong> <span>Phòng Quản lý đô thị thị xã Trảng Bàng</span></p> 
            						<p> <strong> Chủ đầu tư:</strong> Chủ đầu tư: <span>Phòng Quản lý đô thị thị xã Trảng Bàng</span></p> 
            						<p> <strong> Thời gian sửa TBMT:</strong>Thời gian sửa TBMT: <span>07/06/2023 - 19:36 </span></p> 
            					</div> 
            					
            					<div class="col-md-4 content__body__left__item__infor__contract__other">
            						<h6><strong>Lĩnh vực:</strong> <span>Phi tư vấn</span></h6> 
            						<h6><strong> Địa điểm:</strong> <span>Thị xã Trảng Bàng - Tỉnh Tây Ninh;</span></h6>
            					</div>
            				</div>
            			</div> 
            			<div class="col-md-2">
            				<div class="row">
               					<p><strong>Thời điểm đóng thầu</strong></p> 
            					<h5>16:00</h5> 
            					<h5>17/06/2023</h5> 
            					<p><strong>Hình thức dự thầu</strong></p> 
            					<h6>Qua mạng</h6>
            				</div>
            			</div> 
            			<div class="col-lg-2">
            				<div class="p-0">
							</div>
						</div>
					</div>
					</div>
				</div> 
			</div>
			
			<div class="card border-left-primary shadow m-3 p-1">
            	<div class="card-body">
					<div class="row no-gutters align-items-center">
            		<div class="d-flex justify-content-between align-items-center">
            			<p class="text-xs font-weight-bold text-danger text-uppercase mb-1"> Mã TBMT: IB2300117648-01 </p> 
            			<span class="text-danger">Chưa đóng thầu</span>
            		</div>
            		<div class="row">
            			<div class="col-md-8">
            				<a href="https://muasamcong.mpi.gov.vn/web/guest/contractor-selection?p_p_id=egpportalcontractorselectionv2_WAR_egpportalcontractorselectionv2&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;_egpportalcontractorselectionv2_WAR_egpportalcontractorselectionv2_render=detail&amp;type=es-notify-contractor&amp;stepCode=notify-contractor-step-1-tbmt&amp;id=f4d29c1b-45ad-43f4-b5f5-9bdc5007ba63&amp;notifyId=f4d29c1b-45ad-43f4-b5f5-9bdc5007ba63&amp;inputResultId=undefined&amp;bidOpenId=undefined&amp;techReqId=undefined&amp;bidPreNotifyResultId=undefined&amp;bidPreOpenId=undefined&amp;processApply=LDT&amp;bidMode=1_MTHS&amp;notifyNo=IB2300117648&amp;planNo=PL2300087853&amp;pno=undefined&amp;step=tbmt">
            		  			<span class="text-primary h6"> Công tác thu gom, vận chuyển rác 06 phường: Trảng Bàng - Gia Lộc - An Tịnh - Lộc Hưng - An Hòa - Gia Bình - Công tác quét, gom rác trên hè, đường phố bằng thủ công </S>
            				
            				</a> 
            				<div class="row">
            					<div class="col-md-8">
            						<p> <strong> Bên mời thầu:</strong> <span>Phòng Quản lý đô thị thị xã Trảng Bàng</span></p> 
            						<p> <strong> Chủ đầu tư:</strong> Chủ đầu tư: <span>Phòng Quản lý đô thị thị xã Trảng Bàng</span></p> 
            						<p> <strong> Thời gian sửa TBMT:</strong>Thời gian sửa TBMT: <span>07/06/2023 - 19:36 </span></p> 
            					</div> 
            					
            					<div class="col-md-4 content__body__left__item__infor__contract__other">
            						<h6><strong>Lĩnh vực:</strong> <span>Phi tư vấn</span></h6> 
            						<h6><strong> Địa điểm:</strong> <span>Thị xã Trảng Bàng - Tỉnh Tây Ninh;</span></h6>
            					</div>
            				</div>
            			</div> 
            			<div class="col-md-2">
            				<div class="row">
               					<p><strong>Thời điểm đóng thầu</strong></p> 
            					<h5>16:00</h5> 
            					<h5>17/06/2023</h5> 
            					<p><strong>Hình thức dự thầu</strong></p> 
            					<h6>Qua mạng</h6>
            				</div>
            			</div> 
            			<div class="col-lg-2">
            				<div class="p-0">
							</div>
						</div>
					</div>
					</div>
				</div> 
			</div>
			
			
			
			<div class="card border-left-primary shadow m-3">
            	<div class="card-body">
					<div class="row no-gutters align-items-center">
            		<div class="d-flex justify-content-between align-items-center">
            			<p class="text-xs font-weight-bold text-danger text-uppercase mb-1"> Mã TBMT: IB2300117648-01 </p> 
            			<span class="text-danger">Chưa đóng thầu</span>
            		</div>
            		<div class="row">
            			<div class="col-md-8">
            				<a href="https://muasamcong.mpi.gov.vn/web/guest/contractor-selection?p_p_id=egpportalcontractorselectionv2_WAR_egpportalcontractorselectionv2&amp;p_p_lifecycle=0&amp;p_p_state=normal&amp;p_p_mode=view&amp;_egpportalcontractorselectionv2_WAR_egpportalcontractorselectionv2_render=detail&amp;type=es-notify-contractor&amp;stepCode=notify-contractor-step-1-tbmt&amp;id=f4d29c1b-45ad-43f4-b5f5-9bdc5007ba63&amp;notifyId=f4d29c1b-45ad-43f4-b5f5-9bdc5007ba63&amp;inputResultId=undefined&amp;bidOpenId=undefined&amp;techReqId=undefined&amp;bidPreNotifyResultId=undefined&amp;bidPreOpenId=undefined&amp;processApply=LDT&amp;bidMode=1_MTHS&amp;notifyNo=IB2300117648&amp;planNo=PL2300087853&amp;pno=undefined&amp;step=tbmt">
            		  			<span class="text-primary h6"> Công tác thu gom, vận chuyển rác 06 phường: Trảng Bàng - Gia Lộc - An Tịnh - Lộc Hưng - An Hòa - Gia Bình - Công tác quét, gom rác trên hè, đường phố bằng thủ công </S>
            				
            				</a> 
            				<div class="row">
            					<div class="col-md-8">
            						<p> <strong> Bên mời thầu:</strong> <span>Phòng Quản lý đô thị thị xã Trảng Bàng</span></p> 
            						<p> <strong> Chủ đầu tư:</strong> Chủ đầu tư: <span>Phòng Quản lý đô thị thị xã Trảng Bàng</span></p> 
            						<p> <strong> Thời gian sửa TBMT:</strong>Thời gian sửa TBMT: <span>07/06/2023 - 19:36 </span></p> 
            					</div> 
            					
            					<div class="col-md-4 content__body__left__item__infor__contract__other">
            						<h6><strong>Lĩnh vực:</strong> <span>Phi tư vấn</span></h6> 
            						<h6><strong> Địa điểm:</strong> <span>Thị xã Trảng Bàng - Tỉnh Tây Ninh;</span></h6>
            					</div>
            				</div>
            			</div> 
            			<div class="col-md-2">
            				<div class="row">
               					<p><strong>Thời điểm đóng thầu</strong></p> 
            					<h5>16:00</h5> 
            					<h5>17/06/2023</h5> 
            					<p><strong>Hình thức dự thầu</strong></p> 
            					<h6>Qua mạng</h6>
            				</div>
            			</div> 
            			<div class="col-lg-2">
            				<div class="p-0">
							</div>
						</div>
					</div>
					</div>
				</div> 
			</div>
			
			
			
			
			
            
            
            
            
        </div>
    </div>
    
</div>

</body>
</html>