<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>VTT-STG</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
<script th:src="@{/js/script.js}"></script>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
    <div class="dashboard-nav" th:fragment="left-menu">
        <header><a href="#!" class="menu-toggle"><i class="fas fa-bars"></i></a>
        		<a href="#" class="brand-logo"><i class="fas fa-anchor"></i> <span>GPCNTT</span></a>
        </header>
        <nav class="dashboard-nav-list">
        	<a th:href="@{/user/dashboard}" id="dashboard" class="dashboard-nav-item "><i class="fas fa-tachometer-alt"></i> Dashboard</a>
        	<a th:href="@{/user/notice-today}" id="notice-today" class="dashboard-nav-item"><i class="fas fa-file-upload"></i> TBMT hôm nay </a>
        	<a th:href="@{/user/search}" id="search" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Tìm kiếm </a>
            <div class='dashboard-nav-dropdown'>
            	<a href="#!" id="notice-manage" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-photo-video"></i> Quản lý TBMT </a>
                <div class='dashboard-nav-dropdown-menu'>
                		<a href="#" class="dashboard-nav-dropdown-item">Chưa đóng thầu</a>
                		<a href="#" class="dashboard-nav-dropdown-item">Đã đóng thầu</a>
                		<a href="#" class="dashboard-nav-dropdown-item">Đã có KQLCNT</a>
                </div>
            </div>
			
            <div class='dashboard-nav-dropdown'>
            	<a href="#!" id="report"  class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-money-check-alt"></i> Báo cáo </a>
                <div class='dashboard-nav-dropdown-menu'>
                	<a th:href="@{/user/report-statistical}"  class="dashboard-nav-dropdown-item">Thống kê</a>
                	<a th:href="@{/user/report-detail}"  class="dashboard-nav-dropdown-item">Báo cáo chi tiết</a>
                    <a href="#" class="dashboard-nav-dropdown-item">Nhà thầu</a>
                </div>
            </div>
            <a href="#" id="setting" class="dashboard-nav-item"><i class="fas fa-cogs"></i> Settings </a>
            
            <div class='dashboard-nav-dropdown'>
            <a href="#!" id="profile" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i class="fas fa-user"></i> Profile </a>
            <div class='dashboard-nav-dropdown-menu'>
                	<a th:href="@{#}"  class="dashboard-nav-dropdown-item">Đổi mật khẩu</a>
                	<a th:href="@{#}"  class="dashboard-nav-dropdown-item">Thông tin tài khoản</a>
                </div>
            </div>
          <div class="nav-item-divider"></div>
          <a th:href="@{/logout}" class="dashboard-nav-item"><i class="fas fa-sign-out-alt"></i> Đăng xuất </a>
        </nav>
    </div>
    
    	<!-- The Modal -->
	<div class="modal" id="mymodal">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<!-- Modal Header -->
					<div class="modal-header">
						<h4 class="modal-title">Đổi mật khẩu</h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>

					<!-- Modal body -->
					<div class="modal-body">
						<div class="form-outline mb-2">
							<label class="form-label">Mật khẩu cũ</label> <input id="oldpass"
								type="password" class="form-control" required />
						</div>
						
						<div class="form-outline mb-2">
							<label class="form-label">Mật khẩu mới</label> <input id="newpass" onkeyup="trigger(this)" type="password" class="form-control" required />
						</div>
						
						<div class="form-outline mb-2">
							<label class="form-label">Xác nhận mật khẩu</label> <input id="conwpass" type="password" class="form-control" required />
						</div>
						<div class="row" id="text"></div>
						<div class="row" id="alert"></div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<button id="btn-doipass" class="btn btn-primary disabled" type="button"	onclick="changePass()">Thay đổi mật khẩu</button>
						<button type="button" class="btn btn-danger"
							data-bs-dismiss="modal">Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	       
</body>


</html>